# ignore data files
*.csv
*.zip

# ignore temporary python notebook directories
.ipynb*
*.pyc

# ignore pdf files, and other TeX files
*.pdf

# ignore image files
*.jpg
*.jpeg

# ignore .xml files
*.xml

# ignore zipped and .tar files
*.tar
*.tar.gz

# ignore save np savefiles
generative*
*.npz
*.npy
*.save
